Repository pros2s/pro32-test: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx stylelint --fix

.lintstagedrc:

{
  "**/*.{ts,tsx}": "eslint --fix",
  "**/*.less": "npx stylelint --fix"
}

rollup config
  .babelrc
  .gitignore
  .lintstagedrc
  api/server.js
  api/server.mjs
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  res/index.css
  res/index.js
  rollup.config.mjs
  src/declaration.d.ts
  src/ext/jquery-3.6.2.min.js
  src/index.less
  src/index.tsx
  src/pages/App/index.ts
  src/pages/App/ui/App.async.tsx
  src/pages/App/ui/App.module.less
  src/pages/App/ui/App.scss
  src/pages/App/ui/App.tsx
  src/ui/Input/Input.module.less
  src/ui/Input/Input.tsx
  src/ui/Input/index.ts
  src/ui/Loader/Loader.module.less
  src/ui/Loader/Loader.tsx
  tsconfig.json
Due: eslint --fix, npx stylelint --fix

svgr error
  .prettierrc
  .stylelintrc
  package-lock.json
  package.json
  rollup.config.mjs
  src/declaration.d.ts
  src/pages/App/ui/App.module.less
  src/pages/App/ui/App.tsx
  src/pages/App/ui/light-bulb-svgrepo-com.svg
  src/pages/App/ui/palette.css
  tsconfig.json
Due: eslint --fix, npx stylelint --fix

project structure
  package-lock.json
  package.json
  rollup.config.mjs
  src/components/ColorInput/index.ts
  src/components/ColorInput/ui/ColorInput.module.less
  src/components/ColorInput/ui/ColorInput.tsx
  src/components/ColorPalette/index.ts
  src/components/ColorPalette/ui/ColorPalette.tsx
  src/components/ColorPalette/ui/palette.css
  src/components/ColorRectangle/index.ts
  src/components/ColorRectangle/ui/ColorRectangle.module.less
  src/components/ColorRectangle/ui/ColorRectangle.tsx
  src/models/ColorControl/index.ts
  src/models/ColorControl/ui/ColorControl.module.less
  src/models/ColorControl/ui/ColorControl.tsx
  src/pages/App/ui/App.tsx
  src/pages/App/ui/light-bulb-svgrepo-com.svg
Due: eslint --fix, npx stylelint --fix

getTextColor function
  src/components/ColorInput/ui/ColorInput.tsx
  src/components/ColorRectangle/consts/textColors.ts
  src/components/ColorRectangle/helpers/getTextColor.ts
  src/components/ColorRectangle/ui/ColorRectangle.tsx
  src/models/ColorControl/ui/ColorControl.tsx
Due: eslint --fix

input + button(ui)
  package-lock.json
  package.json
  rollup.config.mjs
  src/components/ColorInput/ui/ColorInput.module.less
  src/components/ColorInput/ui/ColorInput.tsx
  src/components/ColorPalette/ui/ColorPalette.module.less
  src/components/ColorPalette/ui/ColorPalette.tsx
  src/components/ColorRectangle/ui/ColorRectangle.module.less
  src/components/ColorRectangle/ui/ColorRectangle.tsx
  src/helpers/classNames/classNames.ts
  src/models/ColorControl/ui/ColorControl.module.less
  src/models/ColorControl/ui/ColorControl.tsx
  src/models/ColorControlPicker/index.ts
  src/models/ColorControlPicker/ui/ColorControlPicker.tsx
  src/pages/App/ui/App.module.less
  src/ui/Button/Button.module.less
  src/ui/Button/Button.tsx
  src/ui/Button/index.ts
  src/ui/Input/Input.module.less
  src/ui/Input/Input.tsx
  src/vars.less
  yarn.lock
Due: eslint --fix, npx stylelint --fix

color input validation
  src/components/ColorInput/helpers/completeShortColor.ts
  src/components/ColorInput/hooks/useDebounce.ts
  src/components/ColorInput/ui/ColorInput.tsx
  src/components/ColorRectangle/helpers/getTextColor.ts
  src/helpers/conversion/convertToTypeColor.ts
  src/helpers/conversion/toColorWithAlfa/hexA/hexAToHslA.ts
  src/helpers/conversion/toColorWithAlfa/hexA/hexAToRgbA.ts
  src/helpers/conversion/toColorWithAlfa/hslA/hslAToHexA.ts
  src/helpers/conversion/toColorWithAlfa/hslA/hslAToRgbA.ts
  src/helpers/conversion/toColorWithAlfa/rgbA/rgbAToHexA.ts
  src/helpers/conversion/toColorWithAlfa/rgbA/rgbAToHslA.ts
  src/helpers/conversion/toDefaultColor/hex/hexToHsl.ts
  src/helpers/conversion/toDefaultColor/hex/hexToRgb.ts
  src/helpers/conversion/toDefaultColor/hsl/hslToHex.ts
  src/helpers/conversion/toDefaultColor/hsl/hslToRgb.ts
  src/helpers/conversion/toDefaultColor/rgb/rgbToHex.ts
  src/helpers/conversion/toDefaultColor/rgb/rgbToHsl.ts
  src/helpers/validation/validateColor.ts
  src/models/ColorControl/ui/ColorControl.module.less
  src/models/ColorControlPicker/ui/ColorControlPicker.tsx
Due: eslint --fix, npx stylelint --fix

styles
  src/components/ColorInput/ui/ColorInput.module.less
  src/components/ColorInput/ui/ColorInput.tsx
  src/components/ColorPalette/ui/ColorPalette.module.less
  src/components/ColorRectangle/ui/ColorRectangle.module.less
  src/helpers/conversion/convertToTypeColor.ts
  src/models/ColorControl/ui/ColorControl.module.less
  src/models/ColorControl/ui/ColorControl.tsx
  src/vars.less
Due: eslint --fix, npx stylelint --fix

strict mode
  src/index.tsx
Due: eslint --fix

readme
  readme.md
Due: none
